@use "colors";

@property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: true;
}

@mixin animated-border {
  border-image: conic-gradient(
      from var(--angle),
      transparent,
      colors.$lightred 0.15turn,
      colors.$lightred 0.25turn,
      colors.$lightred 0.35turn,
      colors.$lightred 0.65turn,
      transparent 0.75turn
    )
    30;
  animation: borderRotate 2500ms linear infinite forwards;

  @keyframes borderRotate {
    100% {
      --angle: 420deg;
    }
  }
}
