---
import { BsFillGridFill } from "react-icons/bs";
import { FaBlog } from "react-icons/fa";
import { RiProfileFill } from "react-icons/ri";

const routes = [
  {
    route: "/projects",
    label: "Projetos",
    icon: BsFillGridFill,
  },
  {
    route: "/about",
    label: "Sobre mim",
    icon: RiProfileFill,
  },
  {
    route: "/blog",
    label: "Blog",
    icon: FaBlog,
  },
];

const { pathname } = Astro.url;

const activePage = (route: string): boolean => pathname.includes(route);
---

<>
  <div class="navigation">
    {
      routes.map((route) => (
        <a
          class={`navigation-link ${activePage(route.route) ? "navigation-link-active" : ""}`}
          href={route.route}
        >
          <route.icon />
          <span>{route.label}</span>
        </a>
      ))
    }
  </div>
  <div class="contact">
    <span>Contato</span>
    <a
      href="https://www.linkedin.com/in/isaac-xavier-dev/"
      target="_blank"
      rel="noopener noreferrer">LinkedIn</a
    >
    <a href="/isaac-xavier.pdf" download>Curriculum Vitae</a>
    <a
      href="mailto:ayzick120@gmail.com?subject=Ola%20Isaac"
      target="_blank"
      rel="noopener noreferrer">Email</a
    >
    <a
      href="https://github.com/zaquinn"
      target="_blank"
      rel="noopener noreferrer">GitHub</a
    >
  </div>
</>

<style lang="scss">
  @use "src/styles";

  .navigation {
    display: flex;
    background-color: styles.$gray-950;
    border: 1px solid styles.$gray-600;
    border-radius: 10px;
    height: 70px;
    width: 80%;
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    overflow-x: auto;
    justify-content: space-between;

    @include styles.for-phone-only {
      width: 100%;
      bottom: 31px;
      max-width: none;
      height: 75px;
      border-radius: 0;
    }
  }

  .navigation-link,
  .navigation-link-active {
    color: styles.$gray-100;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    padding: 0px;
    width: 100%;
    justify-content: center;
    flex-direction: column;

    > svg {
      font-size: 25px;
    }

    @include styles.for-phone-only {
      font-size: 10px;

      > svg {
        font-size: 35px;
      }
    }

    &:first-child {
      border-radius: 10px 0px 0px 10px;
      @include styles.for-phone-only {
        border-radius: 0;
      }
    }

    &:last-child {
      border-radius: 0px 10px 10px 0px;
      @include styles.for-phone-only {
        border-radius: 0;
      }
    }

    &:hover {
      background-color: styles.$gray-700;
    }
  }

  .navigation-link-active {
    background-color: styles.$lightred;
    font-weight: 500;
    color: styles.$cyan;

    @include styles.for-phone-only {
      background-color: transparent;
      > svg {
        color: styles.$lightred;
      }
      &:hover {
        background-color: transparent;
      }
    }

    &:hover {
      background-color: styles.$lightred;
    }
  }

  .contact {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    font-size: 14px;
    padding: 6px 0px 6px 0px;
    border-radius: 6px;
    background-color: styles.$gray-950;
    border: 1px solid styles.$gray-600;

    > span {
      padding-right: 10px;
      border-right: 2px solid styles.$gray-600;
      color: styles.$gray-100 !important;
    }

    > a {
      padding: 0px 5px 0px 5px;
      text-decoration: underline;
      color: styles.$gray-100 !important;
    }

    @include styles.for-phone-only {
      bottom: 0px;
      width: 100%;
      border-radius: 0px;

      > span {
        display: none;
      }
    }
  }
</style>
