@use "src/styles";

.navigation {
  display: none;
  backdrop-filter: blur(5px);
  top: 59px;
  height: 100%;
  width: 60px;
  position: fixed;

  @include styles.for-phone-only {
  }
}

.show-navigation-menu {
  display: flex;
  flex-direction: column;
}

.navigation-link,
.navigation-link-active {
  color: styles.$gray-100;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  padding: 10px 0px;
  border-radius: 8px;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0px;

  > span {
    text-align: center;
  }
  > svg {
    font-size: 25px;
  }

  @include styles.for-phone-only {
    font-size: 10px;

    > svg {
      font-size: 35px;
    }
  }

  &:hover {
    background-color: styles.$gray-700;
  }
}

.navigation-link-active {
  background-color: styles.$lightred;
  font-weight: 500;
  color: styles.$cyan;

  @include styles.for-phone-only {
    background-color: transparent;
    > svg {
      color: styles.$lightred;
    }
    &:hover {
      background-color: transparent;
    }
  }

  &:hover {
    background-color: styles.$lightred;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  align-items: center;
  width: 100%;
  > span {
    text-align: center;
    border-bottom: 2px solid styles.$gray-600;
    color: styles.$gray-100 !important;
    padding: 10px 0px;
  }

  > a {
    padding: 5px 0px;
    text-align: center;
    text-decoration: underline;
    color: styles.$gray-100 !important;
  }

  @include styles.for-phone-only {
    bottom: 0px;
    width: 100%;
    border-radius: 0px;

    > span {
      display: none;
    }
  }
}
