---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="flex items-center justify-center">
      <!-- <div class="box-animated-border">
        <p>Conic gradient</p>
      </div> -->
      <h1>Oi, eu sou o Isaac</h1>
    </div>
  </main>
</Layout>

<style lang="scss">
  @use "src/styles";
  h1 {
    color: red;
  }
  .box-animated-border {
    width: 300px;
    height: 100px;
    background-color: black;
    color: white;
    border: 1px solid;
    @include styles.animated-border;
  }
</style>
