---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Isaac Xavier" activePage="">
  <div class="flex-center h-100 w-100">
    <div class="flex-col-center mb-40">
      <h1>ISAAC XAVIER</h1>
      <h2>DESENVOLVEDOR FULL STACK</h2>
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  @use "src/styles";

  @include styles.flex-center;
  @include styles.flex-col-center;
  @include styles.h-100;
  @include styles.w-100;
  @include styles.generate-margin-bottom-class(40);

  h1 {
    font-size: 85px;
    text-align: center;
    @include styles.title-gradient;

    @include styles.for-phone-only {
      font-size: 30px;
    }
  }

  h2 {
    color: styles.$white;
    font-size: 30px;
    text-align: center;

    @include styles.for-phone-only {
      font-size: 15px;
    }
  }
</style>
