---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="bg-gray-700 h-full">
    <h1 class="text-3xl font-bold underline text-cyan-600">Hello world!</h1>
    <div class="flex items-center justify-center">
      <div
        class="w-[300px] h-[100px] bg-black text-gray-100 border-solid border border-transparent animated-border"
      >
        <p>Conic gradient</p>
      </div>
    </div>
  </main>
</Layout>

<style>
  @property --angle {
    syntax: "<angle>";
    initial-value: 90deg;
    inherits: true;
  }

  .animated-border {
    border-image: conic-gradient(
        from var(--angle),
        rgba(168, 239, 255, 0.1),
        gray 0.15turn,
        white 0.25turn,
        white 0.35turn,
        gray 0.65turn,
        rgba(168, 239, 255, 0.1) 0.75turn
      )
      30;
    animation: borderRotate 2500ms linear infinite forwards;
  }

  @keyframes borderRotate {
    100% {
      --angle: 420deg;
    }
  }
</style>
