---
type Props = {
  color: string;
  top: string;
  left: string;
};

const { color, top, left } = Astro.props;
---

<div class="bg-star"></div>

<style lang="scss" define:vars={{ color, top, left }}>
  .bg-star {
    position: absolute;
    display: flex;
    width: 2px;
    height: 2px;
    background-color: var(--color);
    top: var(--top);
    left: var(--left);
  }
</style>
